{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<div class="book-detail">
  <div class="row">
    <div class="col-md-4">
      {% if book.cover %}
        <img class="bookcover img-fluid" src="{{ book.cover.url}}" alt="{{ book.title }}">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">{{ book.title }}</h2>
          <p class="card-text">Author: {{ book.author }}</p>
          <p class="card-text">Price: {{ book.price }}</p>
          <p class="card-text">Publication Date: {{ book.publication_date }}</p>
          <p class="card-text">Rating: {{ book.rating }}</p>
          <p class="card-text">Stock: {{ book.stock }}</p>
          <p class="card-text">Format: {{ book.get_formats_display }}</p>
          <p class="card-text">Summary: {{ book.summary }}</p>
        </div>

        <div class="card-footer">
          <h3>Reviews</h3>
          <ul class="list-group list-group-flush">
            {% for review in book.reviews.all %}
              <li class="list-group-item">{{ review.review }} ({{ review.author }})</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
